* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
}

img {
  width: 100px;
}

.container {
  display: flex;
}

#itl {
  background-color: #ff0000;
  width: 500px;
  height: 500px;
  padding: 1rem;
  position: relative;
  top: 5rem;
  left: 7rem;
}

#foto {
  background-color: #ffff00;
  width: 100px;
  height: 650px;
  position: relative;
  top: 1.3rem;
  left: -1rem;
  padding: 5px;
}

#nombre {
  background-color: #01135d;
  width: 650px;
  height: 80px;
  font-size: 2rem;
  font-family: Arial, sans-serif;
  position: relative;
  top: 30rem;
  left: -37rem;
  display:flex;
  align-items: center;
  padding: 10px;
}