* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Playfair Display SC', serif;
}

h3 {
  font-family: 'Playfair Display SC', cursive;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.btn {
  border-radius: 40px;
  border: solid 10px;
  padding: 10px;
}