* {
  font-family: Algerian;
}

body {
  background-image: url(../img/jellyfish.jpg);
}

h1 {
  text-align: center;
}

#blink {
  color: #fff;
}

.lblNormal {
  font-weight: 100;
  color: #fff;
  font-size: 20px;
}

.cmbNormal {
  font-size: 20px;
  color: #f30;
}

.lstElemento {
  color: #f90;
  font-size: 15px;
  text-align: left;
}