* {
  padding: 0;
  margin: 0;
  max-height: 90%;
}

.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 6vw);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uno, .cuatro, .seis, .ocho, .nueve, .doce, .quince {
  grid-row: span 2;
}

.dos {
  grid-column: span 2;
  grid-row: span 3;
}

.tres {
  grid-column: 4 / 6;
  grid-row: span 3;
}

.cinco {
  grid-column: span 1;
  grid-row: span 3;
}

.siete {
  grid-column: 3;
  grid-row: 4 / 6;
}

.diez {
  grid-column: 4;
  grid-row: 4 / 6;
}

.once {
  grid-row: span 5;
}

.doce, .quince {
  grid-column: span 2;
}

.trece, .catorce {
  grid-row: span 3;
}

.abajo {
  z-index: 3;
}

.container-top {
  display: inline;
}

.container-top > img {
  max-width: 200px;
  max-height: 200px;
}

.dieciseis {
  top: 12rem;
  left: 15rem;
}

.diecisiete {
  top: 50%;
  left: 10%;
}

.dieciocho {
  top: 10%;
  left: 50%;
}

.diecinueve {
  top: 25rem;
  right: 13rem;
}

.arriba {
  position: absolute;
  z-index: 3;
  transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
}