* {
  margin: 1px;
  padding: 5px;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: start;
  justify-content: center;
}

img {
  max-width: 100%;
  width: 10%;
  height: 10%;
}

.img-itl {
  width: 5%;
  height: 5%;
}

.img-foto {
  width: 15%;
  height: 1%;
}

.contenido {
  text-align: center;
  line-height: 20px;
  padding: 0;
}

footer {
  text-align: right;
}

#container-colores div {
  padding: 0;
  float: left;
  height: 500px;
  width: 5px;
}

.azul {
  background-color: rgb(0, 32, 96);
}

.amarillo {
  background-color: rgb(255, 255, 0);
}

.rojo {
  background-color: rgb(192, 0, 0);
}