* {
  margin: .5cm .5cm .3cm .3cm;
  font-family: Arial, sans-serif;
}

#img-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10cm;
  height: 1cm;
}

#img-foto {
  width: 5cm;
  height: 4cm;
}

#colores-texto {
  display: inline-flex;
  margin: 0;
}

.contenido {
  text-align: center;
  line-height: .7cm;
}

#container-colores > div {
  display: inline-flex;
  margin: 0;
  height: 15cm;
  width: .2cm;
}

.azul {
  background-color: rgb(0, 32, 96);
}

.amarillo {
  background-color: rgb(255, 255, 0);
}

.rojo {
  background-color: rgb(192, 0, 0);
}

footer {
  text-align: right;
}